[flake8]
max-line-length = 89
exclude=.venv,.git,tests/codegen/snapshots,dist,build,__pycache__
ignore = W503
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,

per-file-ignores =
    tests/types/test_lazy_types.py:E800
    tests/test_forward_references.py:E800
    tests/schema/test_resolvers.py:E800
    tests/types/test_string_annotations.py:E800
    tests/federation/printer/*:E501
    tests/pyright/test_federation.py:E501
    tests/federation/test_printer.py:E800
    tests/federation/test_printer.py:E501
    tests/test_printer/test_basic.py:E501
    tests/test_printer/test_schema_directives.py:E501
