repos:
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        exclude: ^tests/\w+/snapshots/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.280
    hooks:
      - id: ruff
        exclude: ^tests/\w+/snapshots/

  - repo: https://github.com/patrick91/pre-commit-alex
    rev: aa5da9e54b92ab7284feddeaf52edf14b1690de3
    hooks:
      - id: alex
        exclude: (CHANGELOG|TWEET).md

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: '^docs/.*\.mdx?$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: ^tests/relay/snapshots
      - id: check-toml

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.15.0
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
