[tool.poetry]
name = "strawberry-graphql"
packages = [ { include = "strawberry" } ]
version = "0.20.3"
description = "A library for creating GraphQL APIs"
authors = ["Patrick Arminio <patrick.arminio@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["grapqhl", "api", "rest", "starlette", "async"]

homepage = "https://strawberry.rocks/"
repository = "https://github.com/strawberry-graphql/strawberry"
documentation = "https://strawberry.rocks/"

classifiers = [
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.7"
starlette = "=0.13.0"
click = "^7.0"
hupper = "^1.5"
pygments = "^2.3"
uvicorn = "=0.11.2"
django = {version = ">=2,<4",optional = true}
graphql-core = {version = "^3.0.0a0", allows-prereleases = true}
asgiref = {version = "^3.2",optional = true}

[tool.poetry.dev-dependencies]
pytest = "^5.3"
pdbpp = "^0.10.2"
bpython = "^0.18"
pytest-emoji = "^0.2.0"
flake8 = "^3.7"
black = {version = "^19.3b0",allows-prereleases = true}
isort = "^4.3"
pytest-asyncio = "^0.10.0"
pytest-cov = "^2.8"
mypy = "^0.761"
flake8-bugbear = "^20.1"
pytest-mypy-plugins = "^1.2"
pytest-mock = "^2.0"
django = {version = ">=2,<4"}
pytest-django = {version = "^3.8"}
asgiref = "^3.2"

[tool.poetry.extras]
django = ["django", "asgiref"]


[tool.poetry.scripts]
strawberry = "strawberry.cli:run"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
