[tool.poetry]
name = "strawberry-graphql"
packages = [ { include = "strawberry" } ]
version = "0.57.1"
description = "A library for creating GraphQL APIs"
authors = ["Patrick Arminio <patrick.arminio@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["grapqhl", "api", "rest", "starlette", "async"]

homepage = "https://strawberry.rocks/"
repository = "https://github.com/strawberry-graphql/strawberry"
documentation = "https://strawberry.rocks/"

classifiers = [
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
include = ["strawberry/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"
starlette = ">=0.13.6,<0.15.0"
click = {version = "^7.0", optional = true}
hupper = "^1.5"
pygments = "^2.3"
uvicorn = {version = ">=0.11.6,<0.14.0", optional = true}
django = {version = ">=2,<4", optional = true}
graphql-core = {version = "^3.1.0"}
asgiref = {version = "^3.2", optional = true}
flask = {version = "^1.1", optional = true}
typing_extensions = "^3.7.4"
opentelemetry-api = {version = "^0.17b0", optional = true}
opentelemetry-sdk = {version = "^0.17b0", optional = true}
python-dateutil = "^2.7.0"
cached-property = "^1.5.2"
pydantic = {version = "^1.6.1", optional = true}
python-multipart = "^0.0.5"
sanic = {version = "^20.12.2", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pdbpp = "^0.10.2"
pytest-emoji = "^0.2.0"
flake8 = "^3.9"
black = {version = "^20.8b1", allow-prereleases = true}
isort = "^5.8.0"
pytest-asyncio = "^0.14.0"
pytest-cov = "^2.11"
mypy = "^0.812"
flake8-bugbear = "^21.4"
flake8-eradicate = "^1.0.0"
pytest-mypy-plugins = "^1.6"
pytest-mock = "^3.5"
pytest-django = {version = "^4.2"}
asgiref = "^3.2"
pytest-flask = {version = "^1.2.0"}
flask = {version = "^1.1"}
requests = "^2.25.1"
pre-commit = "^2.12.0"
pytest-benchmark = "^3.2.3"
freezegun = "^1.1.0"
opentelemetry-api = "^0.17b0"
opentelemetry-sdk = "^0.17b0"
flake8-isort = "^4.0.0"
flake8-black = "^0.2.1"
django = {version = ">=2,<4", optional = false}
pydantic = {version = "^1.6.1", optional = false}
email-validator = {version = "^1.1.2", optional = false}
uvicorn = ">=0.11.6,<0.14.0"
sanic = "^20.12.2"

[tool.poetry.extras]
debug-server = ["uvicorn"]
django = ["django", "pytest-django", "asgiref"]
flask = ["flask", "pytest-flask"]
opentelemetry = ["opentelemetry-api", "opentelemetry-sdk"]
pydantic = ["pydantic"]
sanic = ["sanic"]

[tool.poetry.scripts]
strawberry = "strawberry.cli:run"

[tool.isort]
src_paths = ["strawberry", "tests", "scripts"]
profile = "black"
indent = 4
combine_star = true
combine_as_imports = true
lines_after_imports = 2
known_django = ["django"]
known_graphql = ["graphql"]
known_pytest = ["pytest"]
known_first_party = ["strawberry"]
sections = ["FUTURE", "STDLIB", "PYTEST", "THIRDPARTY", "DJANGO", "GRAPHQL", "FIRSTPARTY", "LOCALFOLDER"]

[tool.pytest.ini_options]
addopts = "-s --emoji --mypy-ini-file=mypy_tests.ini --benchmark-disable"
DJANGO_SETTINGS_MODULE = "tests.django.django_settings"
testpaths = ["tests/"]
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
