[tool.poetry]
name = "strawberry-graphql"
packages = [ { include = "strawberry" } ]
version = "0.5.1"
description = "A library for creating GraphQL APIs"
authors = ["Patrick Arminio <patrick.arminio@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
graphql-core-next = "^1.0"
starlette = "^0.11.3"
click = "^7.0"
hupper = "^1.5"
pygments = "^2.3"
uvicorn = "^0.4.6"

[tool.poetry.dev-dependencies]
pytest = "^4.2"
pdbpp = "^0.9.5"
bpython = "^0.17.1"
pytest-emoji = "^0.2.0"
flake8 = "^3.7"
black = {version = "^18.3-alpha.0",allows-prereleases = true}
isort = "^4.3"
pytest-asyncio = "^0.10.0"

[tool.poetry.scripts]
strawberry = "strawberry.cli:run"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
