[tool.poetry]
name = "strawberry-graphql"
packages = [ { include = "strawberry" } ]
version = "0.26.0"
description = "A library for creating GraphQL APIs"
authors = ["Patrick Arminio <patrick.arminio@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["grapqhl", "api", "rest", "starlette", "async"]

homepage = "https://strawberry.rocks/"
repository = "https://github.com/strawberry-graphql/strawberry"
documentation = "https://strawberry.rocks/"

classifiers = [
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.7"
starlette = "=0.13.4"
click = "^7.0"
hupper = "^1.5"
pygments = "^2.3"
uvicorn = "=0.11.5"
django = {version = ">=2,<4",optional = true}
graphql-core = {version = "^3.0.0"}
asgiref = {version = "^3.2",optional = true}
flask = {version = "^1.1",optional = true}

[tool.poetry.dev-dependencies]
pytest = "^5.4"
pdbpp = "^0.10.2"
pytest-emoji = "^0.2.0"
flake8 = "^3.8"
black = {version = "^19.3b0",allow-prereleases = true}
isort = "^4.3"
pytest-asyncio = "^0.12.0"
pytest-cov = "^2.8"
mypy = "^0.770"
flake8-bugbear = "^20.1"
pytest-mypy-plugins = "^1.3"
pytest-mock = "^3.1"
django = {version = ">=2,<4"}
pytest-django = {version = "^3.9"}
asgiref = "^3.2"
pytest-flask = {version = "^1.0.0"}
requests = "^2.23.0"
pre-commit = "^2.4.0"

[tool.poetry.extras]
django = ["django","pytest-django"]
flask = ["flask","pytest-flask"]

[tool.poetry.scripts]
strawberry = "strawberry.cli:run"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
