[tool.poetry]
name = "strawberry-graphql"
packages = [ { include = "strawberry" } ]
version = "0.16.7"
description = "A library for creating GraphQL APIs"
authors = ["Patrick Arminio <patrick.arminio@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["grapqhl", "api", "rest", "starlette", "async"]

homepage = "https://strawberry.rocks/"
repository = "https://github.com/strawberry-graphql/strawberry"
documentation = "https://strawberry.rocks/"

classifiers = [
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.7"
starlette = "=0.12.10"
click = "^7.0"
hupper = "^1.5"
pygments = "^2.3"
uvicorn = "=0.9.1"
django = {version = "^2.0",optional = true}
graphql-core = {version = "^3.0.0a0", allows-prereleases = true}
[tool.poetry.dev-dependencies]
pytest = "^5.2"
pdbpp = "^0.10.2"
bpython = "^0.18"
pytest-emoji = "^0.2.0"
flake8 = "^3.7"
black = {version = "^19.3b0",allows-prereleases = true}
isort = "^4.3"
pytest-asyncio = "^0.10.0"
pytest-cov = "^2.8"
mypy = "^0.740"
flake8-bugbear = "^19.8"
pytest-django = {version = "^3.6", optional = true}
pytest-mypy-plugins = "^1.0"

[tool.poetry.extras]
django = ["django","pytest-django"]


[tool.poetry.scripts]
strawberry = "strawberry.cli:run"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
