.cta {

    .section-paragraph {
        margin-bottom: 32px;
    }
}

@include media( '>medium' ) {

    .cta {

        .section-paragraph {
            margin-bottom: 40px;
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}
