.features-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -12px;
    margin-left: -12px;

    &:first-child {
        margin-top: -8px;
    }

    &:last-child {
        margin-bottom: -8px;
    }
}

.feature {
    padding: 8px 12px;
    width: 344px;
    max-width: 344px;
    flex-grow: 1;
	margin-left: auto;
	margin-right: auto;
}

.feature-inner {
    height: 100%;
}

.feature-icon {
    display: flex;
    justify-content: center;
}

@include media( '>medium' ) {

    .features-wrap {

        &:first-child {
            margin-top: -32px;
        }

        &:last-child {
            margin-bottom: -32px;
        }
    }

    .feature {
        padding: 32px 12px;
    }
}
