name: Release file check

on:
  pull_request:
    types: [synchronize, reopened, opened, ready_for_review]
    branches:
    - main

jobs:
  release-file-check:
    runs-on: ubuntu-latest

    outputs:
      changelog: ${{ steps.release-check.outputs.changelog }}
      status: ${{ steps.release-check.outputs.release_status }}
      change_type: ${{ steps.release-check.outputs.change_type }}

    steps:
    - uses: actions/checkout@v1

    - name: Release file check
      uses: ./.github/release-check-action
      id: release-check
      if: github.event.pull_request.draft == false

  read-tweet-md:
    runs-on: ubuntu-latest
    needs: release-file-check

    outputs:
      tweet: ${{ steps.extract.outputs.tweet }}
      card_text: ${{ steps.extract.outputs.card_text }}

    steps:
    - uses: actions/checkout@v1
    - name: Extract tweet message and changelog
      id: extract
      shell: python
      env:
        CHANGELOG: ${{ needs.release-file-check.outputs.changelog }}
      run: |
        import base64
        import os
        from pathlib import Path

        changelog = os.environ["CHANGELOG"]
        card_text = ""
        tweet = ""

        tweet_path = Path("./TWEET.md")

        if tweet_path.exists():
          with tweet_path.open(mode="r") as f:
            contents = f.read()

            tweet, _, card_text = [part.strip() for part in contents.partition("---")]

        if not card_text:
          card_text = changelog
        else:
          card_text = base64.b64encode(card_text.encode("utf-8")).decode("ascii")

        tweet = base64.b64encode(tweet.encode("utf-8")).decode("ascii")

        print(f"::set-output name=tweet::{tweet}")
        print(f"::set-output name=card_text::{card_text}")


  generate-preview:
    runs-on: ubuntu-latest
    needs: [release-file-check, read-tweet-md]
    if: always() && github.event.pull_request.draft == false

    outputs:
      url: ${{ steps.upload.outputs.url }}

    steps:
    - name: Generate Twitter card preview
      uses: strawberry-graphql/release-cards@main
      if: ${{ needs.release-file-check.outputs.status == 'OK' }}
      with:
        version: "(next)"
        contributor: ${{ github.event.pull_request.user.login }}
        description_base64: ${{ needs.read-tweet-md.outputs.release_card }}

    - name: Uploads preview
      id: upload
      if: ${{ needs.release-file-check.outputs.status == 'OK' }}
      run: |
        echo ::set-output name=url::$(curl --location --request POST "https://api.imgur.com/3/image" \
          --fail \
          --header "Authorization: Client-ID $IMGUR_CLIENT_ID" \
          --form "image=@screenshot.png;filename=screenshot.png;type=image/png" \
          | jq  --raw-output '.data.link')
      env:
        IMGUR_CLIENT_ID: ${{ secrets.IMGUR_CLIENT_ID }}

  send-comment:
    runs-on: ubuntu-latest
    needs: [release-file-check, generate-preview]
    if: always() && github.event.pull_request.draft == false

    steps:
    - uses: actions/checkout@v1
    - name: Send comment
      uses: ./.github/bot-action
      env:
        BOT_API_URL: ${{ secrets.BOT_API_URL }}
        API_SECRET: ${{ secrets.API_SECRET }}
      with:
        pr_number: ${{ github.event.number }}
        status: ${{ needs.release-file-check.outputs.status }}
        change_type: ${{ needs.release-file-check.outputs.change_type }}
        changelog_base64: ${{ needs.release-file-check.outputs.changelog }}
        release_card_url: ${{ needs.generate-preview.outputs.url }}
