name: Release file check

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, review_requested]
    branches:
    - master

jobs:
  release-file-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Release file check
      uses: ./.github/release-check-action
      if: github.event.pull_request.draft == false
