name: Release file check

on:
  pull_request:
    types: [synchronize, reopened, opened, ready_for_review]
    branches:
    - main

jobs:
  release-file-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Release file check
      uses: ./.github/release-check-action
        # if: github.event.pull_request.draft == false

    - name: Release twitter card
      run: echo ${{ env.CHANGELOG }}
